@charset "UTF-8";
* {
    
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: linear-gradient(to right, #FFC991, #E79160 );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #684d236e ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#E79160;
    text-align: center;
    text-shadow: 1px 1px 2px #754b33;
}
h2 {
    color: #298d20;
}

p {
    text-align: justify;
}